.card, .card-header, .card-content {
    box-shadow: none;
    background-color: #fafafa;
    margin-bottom: 0;
}

.card .card-title {
    font-size: 30px;
    letter-spacing: inherit;
    color: #07c5d3;
    font-weight: bold;
}

.card .card-header {
    padding: 2rem 1.5rem;
}

.card .card-position {
    font-size: 10px;
    margin-bottom: 3rem;
    color: #3ea4ca;
}

.table-responsive {
    position: relative;
    overflow: auto;
    max-height: 300px;
}

.table-responsive::-webkit-scrollbar {
    width: 10px;
}

.table-responsive::-webkit-scrollbar-track {
    background: #eeeeee; 
    border-radius: 60px;
}
   
  /* Handle */
.table-responsive::-webkit-scrollbar-thumb {
    background: #8ddae7; 
    border-radius: 60px;
}
  
  /* Handle on hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #69bdcc; 
}

.table-head > tr > th{
    color: #07c5d3;
    padding: 0.75rem;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #e3ebf3;
}

.table-head > tr > th:first-child {
    border-top-left-radius: 20px;
}

.table-head > tr > th:last-child {  
    border-top-right-radius: 20px;
}

.table-head th span {
    color: #e1e1e1;
    margin-top: -4px;
    cursor: pointer;
}

.table-body >tr > td {
    background-color: transparent;
    border: none;
}

.table-body > tr > td:last-child > .delete {
    float: right;
}

/* nav-bar  */
.header-navbar {
    background-color: #07c5d3;
}

.header-navbar .navbar-wrapper .logout {
    padding: 22px 20px;
}

.header-navbar .navbar-wrapper .btn-logout {
    border: none;
    border-radius: 20px;
    width: 80px;
    background-color: #ffffff;
    color: #000000;
}

.header-navbar .navbar-wrapper .btn-logout:focus {
    outline: 0;
}

/* school  */

form .form-regist-school {
    display: flex;
    max-width: 100%;
    padding-right: 24px;
}

form .form-regist-school .form-group {
    display: flex;
    width: 634px;
}

form .form-search-school {
    display: flex;
    max-width: 100%;
    padding-right: 0;
}

form .form-search-school .form-group {
    display: flex;
    width: 100%;
}

form .form-search-school .form-group a {
    border-radius: 20px;
    width: 80px;
    margin-left: -7px;
    background-color: #07c5d3;
    color: #fff;
}

.form-control:focus {
    border-color: #ccd6e6;
}

#no {
    border-radius: 20px 0 0 20px;
    width: 38%;
    border: none;
}

#category {
    border-radius: 0;
    border: none;
    width: 100%;
}

#number_of_registrations {
    border: none;
    border-radius: 0 20px 0 20px;
}

#search {
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.btn-regist-school {
    background-color: #07c5d3;
    border-color: #07c5d3;
    border-radius: 30px;
    color: #fff;
    padding: 12px 50px;
}

.btn-regist-school:hover, form .form-search-school .form-group a:hover {
    color: #fff;
    background-color: #30bcc6;
}

/* users */

form .form-search-users {
    min-width: 100%;
}

form .info-box-users {
    background-color: #f0f0f0;
    width: 100%;
    min-height: 145px;
    border-radius: 30px;
}

form .info-box-users .info {
    margin-right: 25px;
}

form .info-box-users .info-up {
    margin: 25px 0 18px 20px;
}

form .info-box-users .info-down {
    margin: 0 0 18px 20px;
}

form .info-box-users .info-up label, form .info-box-users .info-down label {
    margin-right: 15px;
    width: 42px;
    align-items: center;
    display: flex;
    margin-bottom: 0;
    justify-content: flex-end;
}

.form-search {
    width: 70%;
}

form .info-box-users .info-up input, form .info-box-users .info-down input {
    width: 209px;
    border-radius: 30px;
}

form .info-box-users .info-down .tb-btn-search {
    margin-top: 0;
    margin-left: 20px;
    top: 0;
    right: 40px;
}

form .info-box-users .info-down .tb-btn-search a {
    background-color: #07c5d3;
    border-color: #07c5d3;
    border-radius: 30px;
    color: #fff;
    padding: 10px 30px;
}

form .info-box-users .info-down .tb-btn-search a:hover {
    background-color: #30bcc6;
}

.form-add form {
    margin-bottom: 2rem;
}

.form-add #add-multiple a {
    background-color: #07c5d3;
    border-color: #07c5d3;
    border-radius: 30px;
    color: #fff;
    padding: 10px 45px;
}

.form-add #add-multiple a:hover {
    background-color: #30bcc6;
}

.form-add #add-single {
    margin-left: 20px;
}

.form-add #add-single a {
    background-color: #fc9025;
    border-color: #fc9025;
    border-radius: 30px;
    color: #fff;
    padding: 10px 45px;
}

.form-add #add-single a:hover {
    background-color: #dd7d1d;
}

/* vrs  */

.registration-date {
    float: right;
    margin-right: 7%;
}

.card-form .form-vr {
    min-width: 98%;
    background-color: #f0f0f0;
    border-radius: 30px;
    margin-bottom: 30px;
}

form .form-add-vr {
    min-width: 100%;
}

form .form-add-vr .info-box-vr {
    margin: 23px;
}

form .form-add-vr .info-box-vr .add-vr {
    margin-right: 60px;
    width: 48%;
}

form .form-add-vr .info-box-vr .add-vr .file-name {
    margin-top: 43px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
}

form .form-add-vr .info-box-vr .add-vr > * {
    margin-right: 35px;
}

form .form-add-vr .info-box-vr .add-vr label{
    margin-top: 10px;
    padding-top: 8px;
}

.info-file {
    min-width: 200px;
}

input#vr {
    display: none;
}

input#vr + label {
    background-color: #07c5d3;
    border-radius: 30px;
    padding: 8px;
    color: #fff;
    width: 100%;
    text-align: center;
}

form .form-add-vr .info-box-vr .mass-registration {
    width: 50%;
    justify-content: space-between;
    padding: 20px;
}
/* 
form .form-add-vr .info-box-vr .mass-registration .info-regist {
    margin: 20px 0px;
} */

form .form-add-vr .info-box-vr .mass-registration .info-regist .publishing-settings {
    margin-bottom: 20px;
}

form .form-add-vr .info-box-vr .mass-registration .info-regist .publishing-settings select, form .form-add-vr .info-box-vr .mass-registration .info-regist .person-in-charge select {
    background: transparent;
    width: 168px;
    padding: 5px;
    border: 0;
    border-radius: 30px;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    color: #ff0404;
    background: url(/backend/images/icons/多角形26.png) no-repeat #fff;
    background-position: 20px 7px;
    margin-left: 15px;
}

form .form-add-vr .info-box-vr .mass-registration .info-regist select:focus {
    outline: 0;
}

form .form-add-vr .info-box-vr .mass-registration .regist {
    width: 130px;
    background: #fc9025;
    margin: 5px 0;
    padding: 30px;
    border-radius: 30px;
    color: #fff;

}

form .form-add-vr .info-box-vr .mass-registration .regist a {
    color: #fff;
    margin: 0 auto;
}